@{
    ViewBag.Title = "About";
}
<!-- Default box -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">ujtopo简介</h3>
    </div>
    <div class="box-body">
        <ol style="font-weight:bold">一、ujtopo是什么？</ol>
        <ol>ujtopo是基于jTopo的拓扑图设计工具库</ol>
        <ol style="font-weight:bold">二、jtopo是什么？</ol>
        <ol>
            jTopo（Javascript Topology library)是一款完全基于HTML5 Canvas的关系、拓扑图形化界面开发工具包。

            jTopo关注于数据的图形展示，它是面向开发人员的，需要进行二次开发。

            使用jTopo很简单，可以快速创建一些关系图、拓扑等相关图形化的展示。只要您的数据之间存在有关联关系，都可以使用jTopo来进行人性化、图形化的展示。

            jTopo的目标：1.简单好用 2.灵活扩展 3.轻松开发出类似Visio、在线脑图、UML建模等类似工具 4.为大数据可视化提供解决方案。
        </ol>
        <ol>
            jTopo官方网址:
            <a href="http://www.jtopo.cn" target="_blank">http://www.jtopo.cn</a>
        </ol>
        <div class="row">
            <div class="col-lg-4">
                <ol style="font-weight:bold">三、ujtopo特点：</ol>
                <ol>1、完全开源免费</ol>
                <ol>2、分为设计视图和显示视图，设计视图中可以选择线形，（直线、折线、反折线，后面还可以增加曲线、二次折线等）、选择线条颜色</ol>
                <ol>3、节点数据增加id和type以及唯一标识uid，可以为不同类型的节点定义不同的行为</ol>
                <ol>4、节点数据和连接数据可以保存</ol>
                <ol>5、可以从数据源读取节点数据和连接数据，解析数据，显示拓扑图形</ol>
                <ol>6、支持告警显示(待扩展)</ol>

                <ol style="font-weight:bold">四、Demo说明</ol>
                <ol>1、本示例使用js+css+html，因此任何开发语言都可以在此基础上修改以实现功能。</ol>
                <ol>2、本示例使用的jTopo版本是0.4.8，如果对jTopo有任何问题，可以联系jTopo作者，请支持原创。</ol>
                <ol>3、本示例的节点和连接数据使用localStorage存储。</ol>
                <ol>4、本示例仅作演示使用。</ol>

                <ol style="font-weight:bold">五、联系方式</ol>
                <ol>Email：2253972318@qq.com</ol>
                <ol>QQ：2253972318</ol>
                <ol>GitHub：<a href="https://github.com/SmartOfLife" target="_blank">https://github.com/SmartOfLife</a></ol>
                <ol>网址:<a href="http://net-yuan.com" target="_blank">http://net-yuan.com</a></ol>
                <ol><img src="Images/weichart.png" /></ol>
            </div>
            <div class="col-lg-8">
                <img src="Images/ujtopo.png" />
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->